package ${package.QryExe};

import ${package.Mapper}.${table.mapperName};
import ${package.Entity}.${entity};
import org.springframework.stereotype.Component;
import com.baomidou.mybatisplus.extension.rq.service.impl.ServiceQryImpl;
import javax.annotation.Resource;
import com.bat.laoyin.service.common.utils.SqlUtils;
import ${package.Qry}.${entityQry};
import ${package.Convertor}.${entityConvertor};
import com.baomidou.mybatisplus.core.metadata.IPage;

import java.util.List;
/**
 * @author: lim
 * @description: TODO
 * @date: 2021/8/4 23:29
 */
@Component
public class ${entityQryExe} extends ServiceQryImpl<${table.mapperName}, ${entity}> {
    @Resource
    private ${table.mapperName} mapper;

    public IPage<${entity}> selectPageVo(IPage<${entity}> page, ${entityQry} qry) {
        ${entity} aDo = ${entityConvertor}.to${entity}(qry);
        String sort = SqlUtils.getSort(qry.getSort());
        return mapper.selectPageVo(page,aDo,sort);
    }

    public List<${entity}> selectVo( ${entityQry} qry) {
    ${entity} aDo = ${entityConvertor}.to${entity}(qry);
        String sort = SqlUtils.getSort(qry.getSort());
        return mapper.selectPageVo(aDo,sort);
    }
}
